*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix{
	content: "";
	display: block;
	clear: both;
}


header{
	height: 50px;
	background-color: #FF9A4B;
}


.main-box{
	margin: 50px auto;
	background-color: yellow;
}
.sub-box{
	width: 300px;
/*	高さは分かりやすくするために一旦作成*/
	height: 300px;
	background-color: red;
}


footer{
	height: 50px;
	background-color: #AAA;
}